.geometry {
  position: relative;
  height: 100vh;
  width: 15vw;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.clear_drawing {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dowload_img {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.geometry_image {
  width: 25%;
  /* height: 25%; */
  border: 1px solid rgba(0, 0, 0, 0.3);
}
:hover .geometry_image {
  cursor: pointer;
}
.drawing_box {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.controls {
  width: 92%;
  margin-left: 4%;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.control_box {
  height: 100vh;
  width: 15vw;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.control_top {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pic_controls {
  width: 100%;
  padding: 0 5px;
}
.pic_submit {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.size_controls {
  width: 100%;
  padding: 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.pic_font_size {
  font-size: 12px;
}
